<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/blog.css">
</head>

<body>
    <header class="main-header">
        <nav class="main-header__nav">
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a class="active" href="/">Home</a>
                </li>
            </ul>
            {{#if isAuthenticated}}
            <ul class="main-header__item-list">
                <div class="admin-nav">
                    <li class="main-header__item">
                        <a href="/admin/dashboard"> Dashboard </a>
                    </li>
                    <li class="main-header__item">
                        <a href="/admin/write-post"> Write
                            Post </a>
                    </li>
                    <li class="main-header__item">
                        <a href="/admin/logout"> Logout </a>
                    </li>
                </div>
            </ul>
            {{else}}
            <ul class="main-header__item-list">
                <li class="main-header__item">
                    <a href="/signup"> Sign Up </a>
                </li>
                <li class="main-header__item">
                    <a href="/login"> Login </a>
                </li>
            </ul>
            {{/if}}
        </nav>
    </header>

    <main>
        <h2>Page not found!</h2>
    </main>
</body>

</html>